<article class="archive-article {{post_class}}">
    <a class="gh-card-link" href="{{url}}">
        <header class="gh-card-header">
            <h2 class="gh-card-title">{{title}}</h2>
        </header>
    </a>
    <time class="archive-date" datetime="{{date format="YYYY-MM-DD"}}">{{date}}</time>
</article>